{% extends 'admin/adminLayout.jinja2' %}


{% block content %}
    <h2>Редактирование групп тегов</h2>

    {% include 'blocks/error.jinja2' %}
    {% include 'admin/appConfig/menu.jinja2' %}

    <table>
        {% for bunch in bunches %}
            <tr>
                <td><span class="btn" onclick="editBunch('{{ bunch.code }}')"><i class="icon-edit"></i></span></td>
                <td>{{ bunch.code }}</td>
                <td>{{ bunch.name or bunch.code }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="modal hide fade editTagModal" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Редактирование группы тегов</h3>
        </div>
        <div class="modal-body" id="modalBody">

        </div>
        <div class="modal-footer">

        </div>
    </div>



{% endblock %}



