{#
 index
 tag_name
 tag.values
#}
<h3 class="tag_{{ index }}_h" onclick="showBlock('tag_{{ index }}')">Тег: {{ tag.code }}</h3>

<div id="tag_{{ index }}" {% if tag.code %}style="display: none"  {% endif %}>

<div class="grid_6 alpha">
    <input type="hidden" name="tag_index" value="{{ index }}">
    <input type="hidden" name="tag_{{ index }}_old_code" id="tag_{{ index }}_code" value="{{ tag.code }}">
    <ul>
        <li>
            <label>Код</label>
            <input type="text" name="tag_{{ index }}_code" id="tag_{{ index }}_code" value="{{ tag.code }}">
        </li>
        <li>
            <label for="tag_{{ index }}_name">Название:</label>
            <input type="text" name="tag_{{ index }}_name" id="tag_{{ index }}_name" value="{{ tag.name or "" }}">
        </li>
        <li>
            <label for="tag_{{ index }}_type">Тип: </label>
            <select name="tag_{{ index }}_type" id="tag_{{ index }}_type" onchange="onChangeType(this, {{ index }})">
                <option value="string" {% if tag.type == 'string' %}selected="selected"{% endif %}>Строка</option>
                <option value="int" {% if tag.type == 'int' %}selected="selected"{% endif %}>Целое (int)</option>
                <option value="choose" {% if tag.type == 'choose' %}selected="selected"{% endif %}>Выбор</option>
                <option value="boolean" {% if tag.type == 'boolean' %}selected="selected"{% endif %}>Логический (bool)</option>
            </select>
        </li>
    </ul>

    <div class="grid_6 choose alpha omega" id="tag_choose_{{ index }}" {% if tag.type != 'choose' %} style="display: none" {% endif %}>
         {% set tag_values = tag.values %}

        <table>
            <thead>
            <tr>
                <th>Варианты</th>
                <th>Описание</th>
            </tr>
            </thead>

            <tbody>
            {% set new_index = 0 %}
            {% if tag.type == 'choose' %}
                {% set isDict = False %}
                {% if tag_values.items %}
                    {% set isDict = True %}
                {% endif %}
                {% set new_index = tag_values|length %}
                {% for key in tag_values %}
                    <tr>
                        <td><input type="text" name="tag_{{ index }}_values_key_{{ loop.index0 }}" value="{{ key }}" class="tag_{{ index }}_values_key"></td>
                        <td><input type="text" name="tag_{{ index }}_values_value_{{ loop.index0 }}" value="{% if isDict %}{{ tag_values[key] or ''}} {% endif %}"></td>
                    </tr>

                {% endfor %}
            {% endif %}
            <tr class="new">
                <td><input type="text" onkeypress="setNew({{ index }})" name="tag_{{ index }}_values_key_{{ new_index }}"
                    class="new_tag_value_{{ index }} key"></td>
                <td><input type="text" onkeypress="setNew({{ index }})" name="tag_{{ index }}_values_value_{{ new_index }}"
                    class="new_tag_value_{{ index }}"></td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" name="tag_{{ index }}_values_count" id="tag_{{ index }}_values_count" value="{{ new_index }}">
    </div>
</div>
 {# }   <div class="grid_6 omega" id="tag_distinct_{{ index }}">
        <span class="awesome red" onclick="showTagValues({{ index }}, this)">Посмотреть варианты</span>
        <span id="tag_distinct_loading_{{ index }}" style="display:none;">.. загрузка ..</span>
    </div>
#}
    <div class="clearfix"></div>
</div>