
<h3 style="cursor: pointer" id="key_{{ index }}_h" onclick="showBlock('key_{{ index }}')">{{ event.getName() }}<sup>{{ event.code }}</sup></h3>

<div id="key_{{ index }}" {% if event.code %} style="display: none" {% endif  %}>
    <div class="span10">
        <input type="hidden" name="key_index" value="{{ index }}">
        <input type="hidden" name="key_{{ index }}_code_old" value="{{ event.code }}">
        <ul class="form">
            <li>
                <label>Код:</label>
                <input type="text" value="{{ event.code }}" name="key_{{ index }}_code"
                       id="key_{{ index }}_code" >
            </li>
            <li>
                <label>Название:</label>
                <input type="text" value="{{ event.getName() }}" name="key_{{ index }}_name"
                       id="key_{{ index }}_name">
            </li>
        </ul>
    </div>

    <div class="span2 omega">
        <span class="awesome small red" onclick="deleteKey({{ index }})">удалить</span>
    </div>

    <div class="clearfix"></div>
</div>