{% extends 'admin/adminLayout.jinja2' %}


{% block content %}
    <h2>Редактирование событий</h2>

    {% include 'blocks/error.jinja2' %}

    <form action="" method="post" id="tag_form">

        <div class="container_12 active" id="tab_key">
            {% for tag in tags %}
                {% set index = loop.index0 %}
                {% include 'admin/appConfig/editOneTag.jinja2' %}
            {% endfor %}

            <span class="awesome orange" onclick="addTag(this)">Добавить тег</span>

            <div class="clearfix"></div>
        </div>

        <input type="submit" onclick="saveForm()" value="Сохранить" class="awesome green" style="margin-top: 20px">

    </form>

    <div class="clearfix"></div>

{% endblock %}