<ul>
    <li>
        <a href="/admin/app/{{ app }}/editEvent">События</a>
    </li>
    <li>
        <a href="/admin/app/{{ app }}/editTags">Теги</a>
    </li>
    <li>
        <a href="/admin/app/{{ app }}/editBunches">Группы тегов</a>
    </li>
    <li>
        <a href="/admin/app/{{ app }}/editReferences">Связи</a>
    </li>
</ul>