<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li>
                <a href="/admin/app/{{ appCode }}/eventsList">События</a>
            </li>
            <li>
                <a href="/admin/app/{{ appCode }}/editTags">Теги</a>
            </li>
            <li>
                <a href="/admin/app/{{ appCode }}/editBunches">Группы тегов</a>
            </li>
        </ul>
    </div>
</div>