{% extends 'layout/gum.jinja2' %}

{% block head %}
<link href="{{ static_url_prefix }}/css/admin.editTags.css" rel="stylesheet" type="text/css">
<link href="{{ static_url_prefix }}/css/settings.css" rel="stylesheet" type="text/css">
<link href="/static/css/app.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ static_url_prefix }}/js/admin.editTags.js"></script>
{% endblock %}


{% block sidebar %}
    <ul>
        <li><a href="/admin/users">Пользователи</a></li>
        <li><a href="/admin/apps">Приложения</a></li>
        <li><a href="/admin/rules">Доступ</a></li>
        <li><a href="/admin/settings">Конфигурация</a></li>
    </ul>
{% endblock %}