{% extends 'admin/adminLayout.jinja2' %}


{% block content %}

    <h2>Приложения</h2>
    <br />

    <a href="/admin/app/edit" class="green awesome">Добавить приложение</a>

    <form action="" method="POST">
    <table id="admin_app">
    {#
        <thead>
            <tr>
                <th>Название</th>
                <th>Код</th>
                <th></th>
                <th class="action"></th>
            </tr>
        </thead>
     #}
        <tbody>
        {% for app in apps %}
            <tr>
                <td><a href="/admin/app/edit?appId={{ app.appId }}">{{ app.name }}</a></td>
                <td>{{ app.code }} {% if app.code not in app_files %}
                        <span style="color: red">Отсутствует фаил конфигурации!!!</span> {% endif %}
                </td>
                <td>
                    <a href="/admin/app/{{ app.code }}/tags">Настройка тегов</a>
                </td>
                <td>
                    <a href="/admin/app/{{ app.code }}/spell">Словарь</a>
                </td>
                <td>
                    <a href="/admin/app/{{ app.code }}/groups">Группы</a>
                </td>
                <td class="action">
                    <input type="checkbox" name="appIds" value="{{ app.appId }}" />
                </td>
            </tr>
        {% endfor %}

        {% for app_code in new_app_codes %}
        <tr>
            <td colspan="6">
                <a href="/admin/app/edit?code={{ app_code }}">Добавить приложение с кодом {{ app_code }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td><input type="submit" name="action" value="Удалить" class="orange awesome"></td>
            </tr>
        </tfoot>
    </table>

    </form>
{% endblock %}