{% extends 'admin/adminLayout.jinja2' %}


{% block content %}
    <h2>Конфигурация1</h2>

    {% include 'blocks/error.jinja2' %}

    <form action="" method="post" id="tag_form">
        <div id="tabber">


            <div class="grid_12" id="tab_bunches">


                <div class="clearfix"></div>
            </div>

            <div id="tab_relation">
                <div id="keytags">
                    {% for key_name, key_values in keys.items() %}
                        <h3>{{ key_values.name or key_name }}</h3>
                        <ul>
                        {% set key_index = loop.index0 %}
                        {% for tag_name, values in tags.items() %}
                            {% set checked = False %}
                            {% if key_values.mustHaveTags and tag_name in key_values.mustHaveTags %}
                                {% set checked = True %}
                            {% endif %}
                            <li><input type="checkbox"
                                       value="{{ loop.index0 }}"
                                       name="have_key_tag_{{ key_index }}"
                                       {% if checked %} checked="checked" {% endif %}
                                    > {{ values.name or tag_name }}</li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <input type="input" onclick="saveForm()" value="Сохранить" class="awesome green" style="margin-top: 20px">

    </form>
    <div class="clearfix"></div>

{% endblock %}