{% extends 'layout/main.jinja2' %}

{% block head %}
    <link href="{{ static_url_prefix }}/css/admin.editTags.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ static_url_prefix }}/js/admin.editTags.js"></script>
{% endblock %}

{% block content %}
    <h2>Конфигурация</h2>

    {% include 'blocks/error.jinja2' %}

    <form action="" method="post">
        <div id="tabber">
            <ul id="tab_ul">
                <li onclick="showTab(this)" data-tab="key" class="active">Ключи</li>
                <li onclick="showTab(this)" data-tab="tags">Теги</li>
                <li onclick="showTab(this)" data-tab="relation">Связи</li>
            </ul>

            <div class="grid_12 active" id="tab_key">
                    {% for key_name, values in keys.items() %}
                        {% set index = loop.index0 %}
                        {% include 'blocks/edit_key.jinja2' %}
                    {% endfor %}

                    <span class="awesome orange" onclick="addKey(this)">Добавить ключ</span>
                <div class="clearfix"></div>
            </div>

            <div class="grid_12" id="tab_tags">

                {% for tag_name, values in tags.items() %}
                    {% set index = loop.index0 %}
                    {% include 'blocks/edit_tag.jinja2' %}
                {% endfor %}

                <span class="awesome orange" onclick="addTag(this)">Добавить тег</span>
                <div class="clearfix"></div>
            </div>

            <div id="tab_relation">
                <div id="keytags">
                    {% for key_name, key_values in keys.items() %}
                        <h3>{{ key_values.name or key_name }}</h3>
                        <ul>
                        {% set key_index = loop.index0 %}
                        {% for tag_name, values in tags.items() %}
                            {% set checked = False %}
                            {% if key_values.mustHaveTags and tag_name in key_values.mustHaveTags %}
                                {% set checked = True %}
                            {% endif %}
                            <li><input type="checkbox"
                                       value="{{ loop.index0 }}"
                                       name="have_key_tag_{{ key_index }}"
                                       {% if checked %} checked="checked" {% endif %}
                                    > {{ values.name or tag_name }}</li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <input type="submit" value="Сохранить" class="awesome green" style="margin-top: 20px">

    </form>

{% endblock %}