{% extends 'layout/main.jinja2' %}
{% block content %}
    <ul>
        <li><a href="/admin/users">Пользователи</a></li>
        <li><a href="/admin/apps">Приложения</a></li>
        <li><a href="/admin/rules">Доступ</a></li>
        <li><a href="/admin/settings">Конфигурация</a></li>
    </ul>
{% endblock %}