{% extends 'layout/main.jinja2' %}

{% block content %}
    <h2>Пользователи</h2>

    <a href="/admin/users/edit">Добавить пользователя</a>

    <table>

        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="/admin/users/edit?userId={{ user.userId }}">{{ user.fullname }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}