{% extends 'layout/gum.jinja2' %}

{% block content %}
<h1>Пользователи</h1>

    <a href="/admin/users/edit" class="awesome green">Добавить пользователя</a>

    <table>
        <thead>
           <tr>
               <th>Имя</th>
           </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="/admin/users/edit?userId={{ user.userId }}">{{ user.fullname }}</a></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}