{% extends 'layout/gum.jinja2' %}
{% block head %}
    <script type="text/javascript" src="/static/js/dashboard.js"></script>
    <link href="{{ static_url_prefix }}/css/dashboard.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/libs/highcharts/highcharts.js" ></script>
    <script type="text/javascript" src="/static/js/result.js" ></script>
    <link href="/static/css/result.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/static/js/zclip.min.js" ></script>

    <script type="text/javascript" src="{{ static_url_prefix }}/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="{{ static_url_prefix }}/js/jquery.ui.picker.addon.js"></script>
    <script type="text/javascript" src="{{ static_url_prefix }}/js/jcloud.min.js"></script>
    <link href="/static/css/jcloud.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{{ static_url_prefix }}/libs/autocomplete/jquery.autocomplete-min.js"></script>
    <script type="text/javascript" src="{{ static_url_prefix }}/js/new_task.js"></script>

    <link href="{{ static_url_prefix }}/libs/autocomplete/styles.css" type="text/css" rel="stylesheet">
    <link href="{{ static_url_prefix }}/css/pepper-grinder/jquery-ui-1.8.23.custom.css" type="text/css"
          rel="stylesheet">
    <link href="{{ static_url_prefix }}/css/new_task.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="/static/libs/reveal/jquery.reveal.js"></script>
    <link href="/static/libs/reveal/reveal.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
    <div id="dashboard_container">

    </div>
{% endblock %}

{% block sidebar %}
    <h2>Список отчетов</h2>

<form action="" method="post">
<div id="workers">
    {% for worker in lastWorkers %}
        <div class="job job_{{worker.status}}" id="worker_row_{{worker.workerId}}" data-workerid="{{worker.workerId}}">

            <div class="q {{ worker.status }}">
                <input type="checkbox" value="{{worker.workerId}}" name="jobId" class="jobcb">
            </div>
            <div class="main" title="{{worker.startDate|smartDateInterval(worker.endDate)}}" onclick="loadResult({{worker.workerId}})">
                <span class="a" id="link_{{worker.workerId}}">{{worker.name}}</span>
                {#
                    <span class="button edit_name" onclick="editName({{worker.workerId}})"></span>


                    <a class="copy_action button copy" href="/dashboard/app/{{ app.code }}/new?baseOn={{worker.workerId}}" title="create on base"></a>
                    {{worker.startDate|smartDatePeriod(worker.endDate)}} <sup>{{worker.startDate|smartDateInterval(worker.endDate)}}</sup>
                     #}

            </div>
            <div class="plus">
                <span onclick="startNewTask({{worker.workerId}})"  title="create on base">+</a>
            </div>
            <div class="clearfix"></div>
            <div class="_selector"></div>
            <div class="line"></div>

        </div>
        <div class="clearfix"></div>
    {% endfor %}
</div>
<div style="margin-left: 10px;">
    <input type="submit" name="action" value="Удалить" class=" awesome orange small">

    {% if pageCount > 1 %}
        <ul class="paging">
            {% for p in range(1, pageCount + 1) %}
                {% if loop.index >= 12 and not loop.last %}
                    {%  if loop.index == 12 %}
                    <li>...</li>
                    {% endif %}
                {% else %}

                    {% if currentPage == p %}
                        <li>{{ p }}</li>
                    {% else %}
                        <li><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</form>

{% endblock %}