{% extends 'layout/main.jinja2' %}
{% block content %}
    <a href="/dashboard/new">Новая задача</a>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>

    {% for worker in lastWorkers %}
        <tr>
            <td><a href="/dashboard/result?={{worker.uuid}}">{{worker.uuid}}</a></td>
            <td>{{worker.startDate}}</td>
            <td>{% if worker.endDate %}{{worker.endDate}}{% endif %}</td>
            <td>{{worker.status}}</td>
            <td><input type="checkbox" value="{{worker.uuid}}" name="actionItems[]" /></td>
        </tr>
    {% endfor %}
    </table>

    <a href="/dashboard/run">Выполнить запрос</a>
{% endblock %}