{% extends 'layout/main.jinja2' %}
{% block head %}
    <script type="text/javascript" src="/static/js/dashboard.js"></script>
{% endblock %}

{% block content %}
    <h1>{{ app.name }}</h1>

    <a href="/dashboard/app/{{ app.code }}/new" class="awesome green" style="margin-top: 10px;">Новая задача</a>

    <form action="" method="post">
        <table style="margin-top: 20px;" id="workersTable">
            <thead>
                <tr>
                    <th style="width: 26px"></th>
                    <th>Название</th>
                    <th>Время</th>
                    <th><input type="checkbox" onclick="switchAll(this)"></th>
                </tr>
            </thead>

        {% for worker in lastWorkers %}
            <tr class="job_{{worker.status}}">
                <td>
                    {% if worker.status == 'SUCCESS' %}
                        <img src="/static/img/accept.png" alt="Завершена успешно" style="width: 22px; height: 22px;">
                    {% elif worker.status == 'ERROR' %}
                        <img src="/static/img/error.png" alt="Завершена с ошибкой" style="width: 22px; height: 22px;">
                    {% elif worker.status == 'DIED' %}
                        <img src="/static/img/cancel.png" alt="Упала" style="width: 22px; height: 22px;">
                    {% elif worker.status == 'ALIVE' %}
                        <img src="/static/img/hourglass.png" alt="Выполняется" style="width: 22px; height: 22px;">
                    {% endif %}
                </td>
                <td>
                    <a href="/dashboard/app/{{ app.code }}/result?jobId={{worker.uuid}}">{{worker.uuid}}</a> <br />
                    <a class="add_action {# awesome nano green #}" href="/dashboard/app/{{ app.code }}/new?baseOn={{worker.uuid}}">create on base</a>
                    {% if worker.status != 'ALIVE' %}
                        <a class="add_action">restart</a>
                    {% endif %}
                </td>
                <td>{{worker.startDate}} - {{  worker.endDate or '???' }}</td>
                <td class="action"><input type="checkbox" value="{{worker.uuid}}" name="jobId" class="jobcb"/></td>
            </tr>
        {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2" style="text-align: right"><input type="submit" name="action" value="Удалить" class=" awesome orange"></td>
                </tr>
            </tfoot>
        </table>

        {% if pageCount > 1 %}
                Страница:
                {% for p in range(1, pageCount + 1) %}
                    {% if currentPage == p %}
                        <span> {{ p }} </span>
                    {% else %}
                        <a href="?page={{ p }}"> {{ p }} </a>
                    {% endif %}
                {% endfor %}
        {% endif %}
    </form>

{% endblock %}