{% block head %}

    <script type="text/javascript">
        var appCode = '{{ app.code }}';
    </script>
{% endblock %}


    <div class="container_12">
        <form action="/dashboard/app/{{ app.code }}/new" method="post" id="new_task_form">
        <div class="grid_4">
            <h1><span id="taskNameLabel">Новая задача</span> <span class="button editTaskName" onclick="editName(this)"> </span></h1>
            <input style="display: none" name="taskName" id="taskName" value="Новая задача" onblur="saveTaskName()" onkeydown="keyDownHandlerTaskName(event)">
        </div>
        <div class="grid_1">
            <span class="awesome small yellow" onclick="selectTemplate()">шаблоны</span>
        </div>
            <div class="grid_7">
                <input type="hidden" id="group_interval" value="{{ task.interval }}" name="group_interval">
                <ul id="interval_selector">
                    {% for key, value in task.intervals %}
                        <li data-value="{{ key }}"
                            class="{% if loop.first %}first{% endif %}{% if loop.last %} last{% endif %}{% if task.interval == key %} selected{% endif %}"
                            onclick="switchInterval(this)">{{ value }}</li>
                    {% endfor %}
                </ul>
            </div>


            <input type="hidden" name="appname" value="{{ app.code }}">


            <div class="grid_12 alpha omega">
                {% for index, taskItem in task.items.items() %}
                    {% include 'blocks/key_container.jinja2' %}
                {% endfor %}
            </div>

            <div class="add_key grid_12 alpha omega" onclick="addKey()"> еще ключ</div>
        </form>

        <div class="grid_12">
            <input type="button" value="Отправить" class="awesome green" onclick="sendForm()">

            <input type="button" value="Сохранить как шаблон" class="awesome orange" onclick="saveTemplate()">
        </div>


        <div id="myModal" class="reveal-modal">

        </div>
    </div>
<div class="clearfix"></div>
