{% extends 'layout/main.jinja2' %}

{% block content %}
    <h2>Выбирите приложение</h2>
    <ul>
    {% for app in apps %}
        <li><a href="/dashboard/app/{{ app.code }}/">{{ app.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}