<form action="" method="post">
    <div>
        <h2>Список отчетов</h2>
    </div>
    <div id="workers">
        {% for worker in lastWorkers %}
            <div class="job" id="worker_row_{{worker.workerId}}" data-workerid="{{worker.workerId}}">

                <div class="q {{ worker.status }}">
                    <input type="checkbox" value="{{worker.workerId}}" name="jobId" class="jobcb">
                </div>
                <div class="main" onclick="loadResult({{worker.workerId}})">
                    <span class="worker-name-{{worker.workerId}}" id="link_{{worker.workerId}}">{{worker.name}}</span>
                    <em>Запущена: {{worker.startDate|datetofiled}}</em>
                    {% if worker.endDate %}
                    <br /><em>Выполнение: {{worker.startDate|smartDateInterval(worker.endDate)}}</em>
                    {% endif %}
                </div>
                <div class="plus">
                    <span onclick="startNewTask({{worker.workerId}})" class="create-on-base">
                </span>
            <span class="job_status job_status_{{ worker.status }}">
                <img src="/static/img/loader.gif" alt="">
            </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="workerFooter">
        <div>
            <input type="submit" name="action" value="Удалить выбранные отчеты" class=" awesome orange">

                <div class="pagination">
                    <ul>
                        {% for p in pageRange %}
                                <li><a {% if currentPage == p %} class="current"{% endif %}
                                                                 id="workerPager{{ p }}"
                                                                 onclick="loadPage({{ p }})">{{ p }}</a>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
    </div>
</form>