<h1>Сохранить шаблон</h1>
<ul id="template_modal_form">
    <li>
        Название шаблона: <input id="template_name" name="template_name">
    </li>

    <li>
        <input id="template_time_relatively" name="template_time_relatively" value="1" type="checkbox" checked="checked"> : Пересчитывать дату
    </li>

    <li>
        <input id="template_shared" name="template_shared" value="1" type="checkbox"> : Доступен для всех
    </li>
    <li>
        <input type="button" value="Сохранить" class="awesome orange" onclick="doSaveTemplate()">
    </li>
</ul>