{#
 need taskItem
 appConfig
#}

{% set is_loaded = (taskItem.key and appConfig.isEventExist(taskItem.key)) %}
<div class="key_form_item span12" id="key_container_{{ taskItem.index  }}">

    <input type="hidden" name="indexes" value="{{ taskItem.index }}">
    <input type="checkbox" style="display: none" name="userUnique" id="userUnique{{ taskItem.index }}" value="{{ taskItem.index }}" {% if taskItem.userUnique %}checked="checked"{% endif %}>

    <div class="row-fluid key_header {% if is_loaded %} key_loaded {% endif %}" id="key_header_{{ taskItem.index }}">
        <div class="span10">
            <ul class="top_key_menu">
                <li>
                    <h2 title="Код: {{ taskItem.key }}">{{ taskItem.name }}</h2>


                    <input type="hidden" name="key_{{ taskItem.index }}" id="key_{{ taskItem.index }}"
                       data-index="{{ taskItem.index }}" class="key" value="{{ taskItem.key }}">

                </li>

                <li class="top-key-menu-date"  id="top-key-menu-date-{{ taskItem.index }}">
                    <input type="hidden" class="datepicker start" name="start_{{ taskItem.index }}" id="start_{{ taskItem.index }}"
                           data-index="{{ taskItem.index }}" value="{{ taskItem.start|datetofiled }}">
                    <input type="hidden" class="datepicker end" name="end_{{ taskItem.index }}" id="end_{{ taskItem.index }}"
                           data-index="{{ taskItem.index }}" value="{{ taskItem.end|datetofiled }}">

                    <div id="dateSelector{{ taskItem.index }}" class="dateSelector">
                        {{ taskItem.start|datetofiled }} - {{ taskItem.end|datetofiled }}
                    </div>




                    <input class="button lock unlock" type="button" onclick="lockDate({{ taskItem.index }})">

                    <input class="button userUnique {% if taskItem.userUnique %}checked{% endif %}" type="button" onclick="switchUserUnique({{ taskItem.index }}, this)">
                </li>
                <li>
                 <input class="button copy{% if not is_loaded %} invisible {% endif %}" onclick="copyKey({{ taskItem.index }})" id="copy_key_{{ taskItem.index }}">
                </li>
            </ul>


        </div>
        <div class="span2 omega">
            <input class="button delete" onclick="deleteEvent({{ taskItem.index }})">
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="key_{{ taskItem.index }}_tag_container" class="event_tags_container">
        {% if is_loaded %}
           {% set tags = appConfig.getEventTags(taskItem.key) %}
           {% set index = taskItem.index %}
           {% set key = taskItem.key %}
           {% set values = taskItem.conditions %}

            {% for tag in tags %}
                {% if values.has_key(tag.code) %}
                    {% set value = values[tag.code] %}
                {% else %}
                    {% set value = None %}
                {% endif %}

                {% if loop.index % 6 == 1%}
                    <div class="row-fluid">
                {% endif %}

                <div class="span2 tag_container" >
                    {% include 'dashboard/taskForm/tagFormItem.jinja2' %}
                </div>

                {% if loop.index % 6 == 0 or loop.last%}
                    </div>
                {% endif %}


                {% if loop.index % 6 == 0 %}
                    <div class="tag_group_separator"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

</div>