{#
 need taskItem
 appConfig
 #}

{% set is_loaded = (taskItem.key and appConfig.isEventExist(taskItem.key)) %}
<div class="key_form_item grid_12 alpha omega" id="key_container_{{ taskItem.index  }}">

    <input type="hidden" name="indexes" value="{{ taskItem.index }}">
    <input type="checkbox" style="display: none" name="userUnique" id="userUnique{{ taskItem.index }}" value="{{ taskItem.index }}" {% if taskItem.userUnique %}checked="checked"{% endif %}>

    <div class="grid_12 alpha omega key_header {% if is_loaded %} key_loaded {% endif %}" id="key_header_{{ taskItem.index }}">
        <div class="grid_10 alpha">
            <ul class="top_key_menu">
                <li>
                    <h2 title="Код: {{ taskItem.key }}">{{ taskItem.name }}</h2>


                    <input type="hidden" name="key_{{ taskItem.index }}" id="key_{{ taskItem.index }}"
                       data-index="{{ taskItem.index }}" class="key_autocomplete key" value="{{ taskItem.key }}">

                    <input type="button" class="button find findkey" onclick="findKey({{ taskItem.index }})">
                </li>

                <li>
                    <input type="text" class="datepicker start" name="start_{{ taskItem.index }}" id="start_{{ taskItem.index }}"
                           data-index="{{ taskItem.index }}" value="{{ taskItem.start|datetofiled }}">
                    <span class="date_d"></span>
                    <input type="text" class="datepicker end" name="end_{{ taskItem.index }}" id="end_{{ taskItem.index }}"
                           data-index="{{ taskItem.index }}" value="{{ taskItem.end|datetofiled }}">
                    <input class="button lock unlock" type="button" onclick="lockDate({{ taskItem.index }})">

                    <input class="button userUnique {% if taskItem.userUnique %}checked{% endif %}" type="button" onclick="switchUserUnique({{ taskItem.index }}, this)">
                </li>
                <li>
                 <input class="button copy{% if not is_loaded %} invisible {% endif %}" onclick="copyKey({{ taskItem.index }})" id="copy_key_{{ taskItem.index }}">
                </li>
            </ul>


        </div>
        <div class="grid_2 omega">
            <input class="button delete" onclick="deleteKey({{ taskItem.index }})">
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="key_{{ taskItem.index }}_tag_container" class="tag_container">
        {% if is_loaded %}
           {% set tags = appConfig.getEventTags(taskItem.key) %}
           {% set index = taskItem.index %}
           {% set key = taskItem.key %}
           {% set values = taskItem.conditions %}

            {% for tag in tags %}
                {% if values.has_key(tag.code) %}
                    {% set value = values[tag.code] %}
                {% else %}
                    {% set value = None %}
                {% endif %}
                <div class="grid_2 {% if loop.first or loop.index % 6 == 1 %}alpha{% endif %} {% if loop.last or loop.index % 6 == 0 %}omega{% endif %} tag_container" >
                    {% include 'blocks/tag_form_item.jinja2' %}
                </div>

                {% if loop.index % 6 == 0 %}
                    <div class="grid_12 alpha omega tag_group_separator"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

 {#   <span class="awesome orange small" onclick="deleteKey({{ taskItem.index  }})">удалить</span>
#}

</div>