div.choose  input {
    width: 195px;
}


div.choose td, div.choose th {
    border: none !important;
}


div.choose tr.new input{
    border: 1px dashed #91bd09;
}

div#tabber {
    padding-bottom: 20px;
}

div#tabber > div {
    display: none;
}

div#tabber > div.active {
    display: block !important;
}


div#tabber > ul > li{
    display: inline-block;
    font-size: 13pt;
    cursor: pointer;
    width: 100px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-bottom: none;
}

div#tabber > ul > li.active {
    font-size: 14pt;
    font-weight: bold;
}

div#tabber > ul {
    /*margin-bottom: 15px;*/
}

form h3 {
    border-top: 1px solid #ECEADF;
    color: #1F1F1F;
    margin-top: 20px;
    padding-top: 12px;
}