a.copy_action {
    display: inline-block !important;
    float: right;
    text-indent: 1000px;
}

table#workersTable {
    margin: 20px 0 0 10px;
    border: none;
}
table#workersTable td {
    border: none;
}

table#workersTable  input[type~=checkbox] {
    border: none;
}

table#workersTable td.action {
    text-align: center;
}

table#workersTable td.action > input {
    margin-top: 14px;
}


/** -------------------------- **/

#workers, #workerFooter{
    width: 390px;

}
div#workers > div > div{
   float: left;
}

div#workers > div {
    vertical-align: middle;
    border-bottom: 1px dashed #ACACAC;
    margin: 0 10px ;
}

#sideLeft h2 {
    margin: 30px 10px 10px 10px;
    padding: 0 0 30px 35px;
    color: #140f06;
    border-bottom: 1px dashed #ACACAC;
    font-size: 20pt;
}

div#workers div.q {
    width: 24px;
    margin-left: 10px;
    height: 88px;
    line-height: 69px;
}
div#workers .main {
    width: 310px;
    cursor: pointer;
    color: #232323;
    display: inline-block;
    height: 90px;
    vertical-align: middle;
    float: left;
}

#workers em {
    font-size: 11pt;
    padding-top: 6px;
    line-height: 16pt;
    vertical-align: bottom;
}

div.job {
    height: 110px;
}
div#workers div.main span {
    display: block;
    margin-top: 20px;
    font-size: 14pt;
}

div#workers div.plus {
    width: 20px;
    color: #FFF;
    margin: 0;
    padding: 0;
    height: 88px;
    line-height: 45px;
}

div#workers div.plus span.plus {
    display: block;
    font-size: 20pt;
    border-bottom: none;
    color: #fff;
    cursor: pointer;
    height: 20px;
    background: url(/static/img/sprite.png) no-repeat;
    background-position: -200px -152px;
    margin-top: 10px;
}

div#workers div.line{
    height: 4px;
    width: 100%;
    min-height: 0 !important;
    float: left;
}

.job.selected {
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.5);
}




div.job  > div.plus > span.status {
    display: block;
    width: 20px;
    height: 20px !important;
    background: url(/static/img/sprite.png) no-repeat;
    margin-top: 50px;
}

div.plus > span.status > img {
    display: none;
}

div.job_SUCCESS > div.plus > span.status > img {
    display: inline !important;
}

div.job_SUCCESS > div.plus > span.status {
    background-position: -200px -131px;
}

div.job_ERROR > div.plus > span.status {
    background-position: -200px -109px;
}

div.job_DIED  > div.plus > span.status {
    background-position: -200px -109px;
}


div#workers div._selector{
    background: url("/static/img/sprite.png") -71px -65px no-repeat;
    width: 30px;
    height: 20px;
    position: absolute;
    z-index: -1;
    left: 0;
    margin-top: -5px;
    display: none;
}



.button.editTaskName {
    background: url('/static/img/sprite.png') no-repeat -200px 0;
    display: inline-block;
    width: 14px;
    height: 14px;
}
#taskName{
    height: 24px;
    font-size: 23px;
}

/** -------------------------- **/


tr.job_SUCCESS td {
    border-bottom: solid 4px #99C700 !important;
}

tr.job_ERROR td {
    border-bottom: solid 4px #FFCD45 !important;
}

tr.job_DIED td {
    border-bottom: solid 4px #F3624C !important;
}

.job_ALIVE .status img {
    display: bock;
}

.job_ALIVE > td.plus span {
    color: GREEN;
}



.pagination a {
    color: #666;
    cursor: pointer;
}

.pagination a.current {
    font-weight: bold;
}



#workerFooter{
    margin: 0 0 0 0;
}

#workerFooter > div{
    padding: 20px 10px 10px 10px;
    margin-bottom: 10px;
}