a.copy_action {
    display: inline-block !important;
    float: right;
    text-indent: 1000px;
}

table#workersTable td.action {
    text-align: center;
}

table#workersTable td.action > input {
    margin-top: 14px;
}

span.alive_progress {
    font-size: 10pt
}

td.SUCCESS {
    background: url('/static/img/accept.png') no-repeat center;
}

td.ERROR {
    background: url('/static/img/cancel.png') no-repeat center;
}

td.DIED {
    background: url('/static/img/error.png') no-repeat center;
}

tr.success_recently td {
    background-color: #F2F9DD
}

ul.paging li {
    display: inline;
    padding-right: 4px;
}

span.button.edit_name {
    display: inline-block;
    background: url('/static/img/sprite.png') no-repeat -200px 0px;
    width: 10px;
    height: 10px;
    visibility: hidden;
}

td:hover span.button.edit_name {
    visibility: visible;
}