* {
	margin: 0;
	padding: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    background: url('/static/img/background.jpg');
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 1000px;
    margin: 0 0px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 44px;
    background: #FFF;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	margin: 0 0 0 320px;
    background: #FFF;
}

#content > div {
    margin-left: 10px;
    margin-right: 10px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 300px;
	margin-left: -100%;
	position: relative;

}




/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 100px;
}