span.button {
    display: block;
    width: 28px;
    height: 26px;
}

table.data_table {
    width: auto;
    border: none;
}
table.data_table td, table.data_table th {
    border: none;
}

table.data_table td.value {
    text-align: right;
}

table.data_table td.value.r {
    font-weight: bold;
}

table.data_table th.r {
    font-weight: bold;
    padding: 0
}

table.data_table th.r > span{
    display: block;
    width: 100px;
}

table.data_table th {
    cursor: pointer;
}

table.data_table th.date{
    width: 150px;
    text-align: center;
}

table.data_table th{
    text-align: center
}

table.data_table th em{
    font-size: 11px;
}

table.data_table th.op{
    text-align: right;
    font-weight: bold;
}

table.data_table th span.op{
    font-size: 10pt;
}

table.data_table tr.selected > td.value {
    background-color: #E7EFF8;
}

table.data_table td.cSelected {
    background-color: #E7EFF8;
}

table.data_table tr.selected > td.cSelected {
    background-color: #D4E2F2;
}

div#chart_container {
    margin-right: 100px;

    width: auto;
}

div#chartManagment{
    float: right;
    width: 90px;
    clear: right;
    position: relative;
    margin-top: 15px;
}



.button.chart {
    background: url('/static/img/graphs.png') no-repeat;
    display: inline-block;
    width: 56px;
    height: 56px;
}

.button.chart.spline {
    background-position: -60px 0 ;
}
.button.chart.spline.on {
    background-position: 0 0;
}

/* column */
.button.chart.column {
    background-position: -60px -120px;
}

.button.chart.column.on {
    background-position: 0 -120px ;
}

/* area */
.button.chart.area {
    background-position: -60px -60px;
}
.button.chart.area.on {
    background-position: 0 -60px;
}


.button.chart.stack_column {
    background-position: -60px -180px;
}

.button.chart.stack_column.on {
    background-position: 0 -180px;
}

.button.chart.percent_column {
     background-position: -60px -240px;
 }

.button.chart.percent_column.on {
    background-position: -0px -240px;
}

.button.chart.compare {
    background-position: -60px -300px;
}

.button.chart.compare.on {
    background-position: -0px -300px;
}


.button.chart.recalculate {
    background-position: -13px -372px;
    width: 26px;
    height: 26px;
    display: block;
    margin: 6px 0 0 18px;
}


div#chartBox {
    margin-right: 10px;
    margin-top: 10px;
}



div#chart_legend_container{
    border: none;
    margin: 10px 10px 40px 0;
}


div#series_container > .seriaGroup > .groupName {
    padding: 4px;
    font-weight: bold;
}

.seriaGroup td, .seriaGroup th{
    border: none !important;
}

div#tableBox{
    overflow: auto;
    border: 1px solid #C8D5E8;
    margin: 15px 15px 15px 0;
}

span.button.sort {
    background: url('/static/img/sprite.png');
    display: inline-block;
    width: 21px;
    height: 21px;
}

span.button.sort.up {
    background-position: -463px -24px;
}

span.button.sort.down {
    background-position: -463px -3px;
}

table.data_table th.selected > span,
table.data_table tr.datarow.selected > th > span{
    background-color: #C3D6ED;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 4px;
}

table.data_table *::selection {
    background: #fdffb9; /* Safari */
}
table.data_table *::-moz-selection {
    background: #fdffb9; /* Firefox */
}

/**
        TAGCLOUD
**/

#tagcloud {
    min-height: 300px;
    padding-top: 10px;
    border: 1px solid #DADADA;
    padding-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#tagcloud h2{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 20pt;
}

#tagcloud .tag {
    border-bottom: 1px dashed #ACACAC;
    display: block;
    margin: 0 5px 0 0;
    padding: 5px 6px 4px 25px;
    cursor: pointer;
}
#tagcloud .selected{
    background-color: #FF8F00
}

.reset-select-tag{
    display: inline-block;
    cursor: pointer;
    margin: 10px 10px 10px 0;
    float: right;
}



span.legendKey {
    /*border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 4px;
    padding: 3px 5px 4px 5px;;
    position: relative;
    width: auto;
    box-shadow: inset #fff 1px -1px 1px -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-shadow: #ba6e2d 0 -1px 1px;*/
    cursor: pointer;

}


span.legendKey > span.name {
    letter-spacing: 1px;
}

span.legendKey.hide {
    color: #d1cdd4 !important;
}


span.legendKey > span.op {
    display: inline-block;
    background: url('/static/img/sprite.png') no-repeat;
    width: 17px;
    height: 17px;
}

span.legendKey > span.op.group.red, span.legendKey > span.op.count.red {
    background-position: -95px -101px;
}

    span.legendKey > span.op.group.orange, span.legendKey > span.op.count.orange  {
        background-position: -95px -120px;
    }

    span.legendKey > span.op.group.blue, span.legendKey > span.op.count.blue  {
        background-position: -95px -139px;
    }

    span.legendKey > span.op.group.green, span.legendKey > span.op.count.green  {
        background-position: -95px -158px;
    }

    span.legendKey > span.op.group.yellow, span.legendKey > span.op.count.yellow  {
        background-position: -95px -177px;
    }

    span.legendKey > span.op.group.violet, span.legendKey > span.op.count.violet  {
        background-position: -95px -196px;
    }

span.legendKey > span.op.sum.red {
    background-position: -116px -101px;
}
    span.legendKey > span.op.sum.orange {
        background-position: -116px -120px;
    }

    span.legendKey > span.op.sum.blue {
        background-position: -116px -139px;
    }

    span.legendKey > span.op.sum.green {
        background-position: -116px -158px;
    }

    span.legendKey > span.op.sum.yellow {
        background-position: -116px -177px;
    }

    span.legendKey > span.op.sum.violet {
        background-position: -116px -196px;
    }


span.legendKey > span.op.avg.red {
    background-position: -137px -101px;
}
    span.legendKey > span.op.avg.orange {
        background-position: -137px -120px;
    }
    
    span.legendKey > span.op.avg.blue {
        background-position: -137px -139px;
    }
    
    span.legendKey > span.op.avg.green {
        background-position: -137px -158px;
    }
    
    span.legendKey > span.op.avg.yellow {
        background-position: -137px -177px;
    }
    
    span.legendKey > span.op.avg.violet {
        background-position: -137px -196px;
    }


.legend-group-head {
    font-size: 22pt;
    vertical-align: middle;
}

.show-charts-group,
.plus-charts-group {
    background: url('/static/img/sprite.png') no-repeat;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.show-charts-group{
    background-position: -242px -93px;
    width: 25px;
    height: 25px;
}

.plus-charts-group{
    background-position: -239px -149px;
    width: 25px;
    height: 25px;
}
