body {
    background: url("../img/white_grid.png") repeat center;
    font: normal 0.95em "Trebuchet MS", "Lucida Grande", Arial, Sans-Serif;
    color: #64625E;

}

h1 { font-size: 18pt; }
h2 { font-size: 16pt; }

a {
    border-bottom: 1px solid #B2CCF0;
    color: #0099CC;
    text-decoration: none;
}


p {
    margin: 5px 0;
}

p.error {
    color: #ff4d52;
}


header {
    /*background: #525252;*/
    height: 70px;
    display: block;
    color: #FFF;
    margin-bottom: 15px;
}

header a {
    color: #FFF;
}

header > div#user_block {
    text-align: center;
    margin-top: 10px;
}


div#content{
   margin-top: 15px;
}

table {
    width: 100%;
    margin-top: 10px;
}

table td, table th {
    border: 1px solid #525252;
    padding: 5px 10px;
}

table th {
    text-align: center;
    font-weight: bold;
}

table tfoot td{
    border: none;
}

label.canHaveTags {
    color: #333;
}
/* all forms */

form li {
    margin-bottom: 6px;
}

form li > label {
    min-width: 100px;
    display: inline-block;
}

div.interval_form{
    margin-bottom: 10px;
}

/* navigation */
nav li {
    display: inline;
    padding: 5px 7px;
}

div#content nav {
    margin: 10px 0px;
}
div#content nav a {
    border: none !important;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

div#ui-datepicker-div{
    font-size: 9pt !important;
}

div.tag_container label{
    display: inline-block;
    min-width: 100px;
}

table#workersTable td.action {
    text-align: center;
    width: 80px;
}

div.key_form_item {
    border: 1px solid #CCC;
    padding: 4px;
    width: 283px !important;
    margin-bottom: 10px;
}

div.key_form_item h2 {
    text-align: center;
}

div.add_key{
    background: url(/static/img/plus.png) no-repeat center;
    height: 100%;
    min-height: 200px;
    border: 1px dotted #333;
    cursor: pointer;
    width: 283px !important;
}

img.findbutton{
    cursor: pointer
}

table.key_selector tr{
    cursor: pointer;
}

a.add_action {
    color: #777;
    font-size: 10pt;
    border-bottom: 1px dotted #AAAAAA;
    margin: 0px 4px;
}

div.tag_container ul ul{
    margin-left: 100px;
}

fieldset {
    border: 1px solid #ccc;
}

.wb {
    border-top: 1px solid #ECEADF;
    color: #1F1F1F;
    margin-top: 20px;
    padding-top: 12px;
}