body {
    background: url("../img/white_grid.png") repeat;
    font-size: 12pt;
}

h1 { font-size: 18pt; }
h2 { font-size: 16pt; }

a {
    border-bottom: 1px solid #B2CCF0;
    color: #0099CC;
    text-decoration: none;
}


p {
    margin: 5px 0;
}

p.error {
    color: #ff4d52;
}


header {
    background: #525252;
    height: 70px;
    display: block;
    color: #FFF;
}

header a {
    color: #FFF;
}

header > div#user_block {
    text-align: center;
    margin-top: 10px;
}


div#content{
   margin-top: 15px;
}

table {
    width: 100%;
    margin-top: 10px;
}

table td, table th {
    border: 1px solid #525252;
    padding: 5px 10px;
}

label.canHaveTags {
    color: #333;
}
/* all forms */

form li {
    margin-bottom: 6px;
}

div.interval_form{
    margin-bottom: 10px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

div#ui-datepicker-div{
    font-size: 9pt !important;
}

div.tag_container label{
    display: inline-block;
    min-width: 100px;
}