body {
   /* background: url("../img/white_grid.png") repeat center top;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    */
    font-family: Tahoma,Geneva,Kalimati,sans-serif;
    color: #212121;
}
/*
div#wrapper {
    width: 1000px;
    background: #FFFFFF;
    margin: -1px auto 0 auto;
    min-height: 500px;
    border: 1px solid #666666;
    padding-bottom: 20px;
}*/

aside#sideLeft {
    color: #FFF;
    padding-top: 10px;
}

aside#sideLeft a {
    color: #00ddff;
}

aside#sideLeft h2{
    margin-left: 15px;
}

a#logo {
    left: 20px;
    position: absolute;
    top: 0;
    border: none
}

ul#mainmenu {
}

ul#mainmenu a{
    background: url('/static/img/menu_sprite.png');
    display: block;
    float: left;
    text-indent: -10000px;
    width: 50px;
    height: 44px;
    padding: 0;
    margin: 0;
    border-bottom: none !important;
}

ul#mainmenu li  {
    display: inline;
    padding: 0;
    margin: 0;
}

ul#mainmenu a.analytics {
    width: 105px;
}

ul#mainmenu a.analytics:hover {
    background-position: 0 -46px;
}

ul#mainmenu a.manage {
    width: 99px;
    background-position: -105px 0;
}

ul#mainmenu a.manage:hover {
    background-position: -105px -46px;
}

ul#mainmenu a.hdfs {
    width: 99px;
    background-position: -202px 0;
}

ul#mainmenu a.hdfs:hover {
    background-position: -202px -46px;
}

ul#mainmenu a.logout{
    width: 107px;
    background-position: -305px 0;
}

ul#mainmenu a.logout:hover {
    background-position: -305px -46px;
}


ul#nav {
    display: block;
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}

ul#nav li {
    display: inline-block;
}

ul#nav a, header a.analytics {
    background: url("/static/img/sprite.png") no-repeat -255px -59px;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 30px;
    text-decoration: none;
    border: none;
}

header a.analytics {
    background-position:  -435px -59px;
    position: relative;
    left: 200px;
    margin-top: 15px;
    width: 125px;
}

ul#nav a.manage{
    background-position: -255px -59px;
}

ul#nav a.logout{
    background-position: -353px -59px;
    width: 80px;
}



h1 {
    font-size: 18pt;
    font-weight: normal;
}

h2 {
    font-size: 16pt;
    font-weight: normal;
}

a {
    border-bottom: 1px solid #B2CCF0;
    color: #0099CC;
    text-decoration: none;
}

p {
    margin: 5px 0;
}

p.error {
    color: #ff4d52;
}

header {
    height: 50px;
    display: block;
    color: #FFF;
    padding-bottom: 10px;
}

header a {
    color: #FFF;
}

header > div#user_block {
    text-align: center;
    margin-top: 10px;
}

div#content {
    padding-top: 15px;
    -webkit-box-shadow: -1px 0px 4px 4px rgba(00, 00, 00, 0.4);
    box-shadow: -1px 0px 4px 4px rgba(00, 00, 00, 0.4);
}

div#dashboard_container{
    margin:  0  0 0 10px;
    padding-bottom: 20px;
    min-height: 700px;
}

table {
    width: 100%;
    margin-top: 10px;
}

table td, table th {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    height: 30px;
}



table th {
    height: 30px;
}

table tfoot td {
    border: none;
}

label.canHaveTags {
    color: #333;
}

/* all forms */

form li {
    margin-bottom: 6px;
}

form li > label {
    min-width: 100px;
    display: inline-block;
}

div.interval_form {
    margin-bottom: 10px;
}

/* navigation */
nav.back li {
    display: inline;
    padding: 5px 7px;
}

div#content nav.back {
    margin: 2px 0 4px 0;
}

div#content nav.back a {
    border: none !important;
    padding-left: 20px;
    color: #cfcbcf;
    font-size: 10pt;
    background: url("/static/img/mini_back.png") no-repeat;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

div#ui-datepicker-div {
    font-size: 9pt !important;
}

div.tag_container label {
    display: inline-block;
    min-width: 100px;
}



img.findbutton {
    cursor: pointer
}

table.key_selector tr {
    cursor: pointer;
}

a.add_action {
    color: #777;
    font-size: 10pt;
    border-bottom: 1px dotted #AAAAAA;
    margin: 0px 4px;
}

div.tag_container ul ul {
    margin-left: 100px;
}

fieldset {
    border: 1px solid #ccc;
}

.wb {
    border-top: 1px solid #ECEADF;
    color: #1F1F1F;
    margin-top: 20px;
    padding-top: 12px;
}

/** ---- functional buttons ---- **/
.button{
    margin: 0;
    padding: 0;
    border: none !important;
    cursor: pointer
}
.button.copy{
    background: url("/static/img/sprite.png") -6px -5px;
    width: 25px;
    height: 27px;
    text-indent: -1000px;
}
.button.invisible {
    visibility: hidden !important;
}

.button.delete {
    background: url("/static/img/sprite.png") -6px -39px;
    width: 25px;
    height: 27px;
}
/**-------------------------------
        TOP PANEL
----------------------------------
*/
div#topPanel{
    background: url('/static/img/topPanel.png') repeat-x;
    height: 100px;
    width: auto;
    padding: 10px;
    margin: 0;
}

div#topPanel .selectedApp {
    color: #FFF;
    font-size: 16pt;
    display: block;
    width: 204px;
    text-align: center
}

button#addTaskButton {
    background: url('/static/img/sprite.png') no-repeat -493px 10px;
    width: 100px;
    height: 75px;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

button#addTaskButton:hover{
    border: 1px inset #CECECE
}

button#fromTemplateButton {
    background: url('/static/img/sprite.png') no-repeat -587px 10px;
    width: 100px;
    height: 75px;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

button#fromTemplateButton:hover{
    border: 1px inset #CECECE
}





