{#
index : int
bunch_code : string
bunch_name : string
tags : list
#}
<div id="bunch_{{ index }}" class="grid_12">
    <h3 id="bunch_{{ index }}_h">{{ bunch_code or '&nbsp' }}</h3>

    <input name="bunch_index" value="{{ index }}" type="hidden">

    <ul>
        <li>
            <label for="bunch_code_{{ index }}">Код:</label>
            <input id="bunch_code_{{ index }}" name="bunch_code_{{ index }}" value="{{ bunch_code or '' }}">
        </li>
        <li>
            <label for="bunch_name_{{ index }}">Имя:</label>
            <input id="bunch_name_{{ index }}" name="bunch_name_{{ index }}" value="{{ bunch_name or '' }}">
        </li>
    </ul>



</div>