{#
 index
 key_name
 values
 #}
<div id="key_{{ index }}">
    <h3 id="key_{{ index }}_h">{{ key_name or '&nbsp' }}</h3>

    <div class="grid_10 alpha">
        <input type="hidden" name="key_index" value="{{ index }}">
        <ul class="form">
            <li>
                <label>Код:</label>
                <input type="text" value="{{ key_name }}" name="key_{{ index }}_name" id="key_{{ index }}_name"  onkeyup="updateKey({{ index }})">
            </li>
            <li>
                <label>Название:</label>
                <input type="text" value="{{ values.description or '' }}" name="key_{{ index }}_desc" id="key_{{ index }}_desc">
            </li>
        </ul>
    </div>

    <div class="grid_2 omega">
        <span class="awesome small red" onclick="deleteKey({{ index }})">-</span>
    </div>
    <div class="clearfix"></div>
</div>