<div class="key_form_item grid_4" id="key_container_{{ taskItem.index  }}">
    <h2>{{ taskItem.index  }}</h2>

    <ul>
        <li>
            <label for="key_{{ taskItem.index }}">Ключ:</label>
            <input type="text" name="key" id="key_{{ taskItem.index }}" data-index="{{ taskItem.index }}" class="key_autocomplete">
            <img src="/static/img/find.png" alt="Найти" class="findbutton" onclick="findKey({{ taskItem.index }})">
        </li>
        <li>
            <label for="start_{{ taskItem.index }}">C:</label>
            <input class="datepicker" name="start" id="start_{{ taskItem.index }}" value="{{ taskItem.start.strftime("%m/%d/%Y %H:%M") }}">
        </li>

        <li>
            <label for="end_{{ taskItem.index }}">По:</label>
            <input class="datepicker" name="end" id="end_{{ taskItem.index }}" value="{{ taskItem.end.strftime("%m/%d/%Y %H:%M") }}">
        </li>
    </ul>

    <div id="key_{{ taskItem.index }}_tag_container" class="tag_container">

    </div>
    <span class="awesome orange small" onclick="deleteKey({{ taskItem.index  }})">удалить</span>
</div>