<ul id="mainmenu">
    <li><a href="/dashboard" class="analytics">Аналитика</a></li>
    {% if __user__.isAdmin %}
        <li><a href="/admin" class="manage">Управление</a></li>
    {% endif %}
    <li><a href="/user/logout/" class="logout">Выйти</a></li>
</ul>