<ul>{% for x in ['mustHaveTags', 'canHaveTags'] %}
    {% if tags[x] %}
        {% for name, data in tags[x].items() %}
            {% include 'blocks/tag_form_item.jinja2' %}
        {% endfor %}
    {% endif %}
{% endfor %}
</ul>