{# tag #}
<li>
    <label title="{{ data.description or 'Нет описания' }}" class="{{ x }}">{{ data.name or name }}:</label>
    <input type="hidden" name="tag_{{ index }}_name" value="{{ name }}">

{% if data.type == 'choose' %}

    {% if data.variants|length < 6   %}
        {% for v in data.variants %}
            {{ v }}: <input type="checkbox" value="{{ v }}" name="tag_{{ index }}_{{ name }}"
                {% if value and v in value %} checked="checked" {% endif %}>
        {% endfor %}
    {% else %}
        {% for v in data.variants %}
            <ul>
                <li><input type="checkbox" value="{{ v }}" name="tag_{{ index }}_{{ name }}"
                        {% if value and v in value %} checked="checked" {% endif %} ></li>
            </ul>
        {% endfor %}
    {% endif %}

{% else %}
        <input type="text" name="tag_{{ index }}_{{ name }}" value="{{ value or '' }}">
{% endif %}
</li>