<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/gum.css" type="text/css" media="screen, projection" />
    <!--[if lte IE 6]><link rel="stylesheet" href="/static/css/gum_ie.css" type="text/css" media="screen, projection" /><![endif]-->
    {# <link href="/static/css/reset.css" rel="stylesheet" type="text/css"> #}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/button.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery.selectbox.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />

    <script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.selectbox-0.2.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    {% if js_vars %}
        <script type="text/javascript">
            {% for key in js_vars %}
                var {{ key }} = {{ js_vars[key]|toJsVar }};
            {% endfor %}
        </script>
    {% endif %}
    {% block head %}{% endblock %}
</head>

<body>
    <div id="wrapper">

        <header id="header">
            <div>
                <a href="/" id="logo">
                    <img src="/static/img/logo.png" alt="Analytics logo">
                </a>

                {% if user_apps %}
                    <form class="analytics" id="switchApp" action="/dashboard/" method="post">
                        <span></span>
                        <select name="appCode" id="appSwitcher">
                            <option value="">-выберите приложение-</option>
                            {% for app in user_apps %}
                            <option value="{{ app.code }}" {% if currentAppCode == app.code %} selected="selected" {% endif %}>{{ app.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                {% endif %}

                <ul id="nav">
                    <li><a href="/admin" class="manage"></a></li>
                    <li><a href="/user/logout/" class="logout"></a></li>
                </ul>
            </div>
        {#
            <nav>
                {% if __user__ %}
                    {% include 'blocks/menu.jinja2' %}
                {% endif %}
            </nav>
          #}
        </header><!-- #header-->

        <div id="topPanel">
            <div>
                <button id="analyticsButton" onclick="showAnalytics()"></button>
                <button id="addTaskButton" onclick="startNewTask()"></button>
                <button id="fromTemplateButton" onclick="showTemplates()"></button>
            </div>
        </div>

        <section id="middle">

            <div id="container">
                <div id="content">
                    <div>
                    {% block content %}{% endblock %}
                    </div>
                </div><!-- #content-->
            </div><!-- #container-->

            <aside id="sideLeft">
                <div>
                    {% block sidebar %}{% endblock %}
                </div>
            </aside><!-- #sideLeft -->

        </section><!-- #middle-->

    </div>
</body>
</html>