<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/960.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="container_12">
        <div id="user_block" class="grid_2 push_10">
            {% if is_login %}
                <a href="/user/logout/">Выйти</a>
            {% else %}
                <a href="/user/login/">Войти</a>
            {% endif %}
        </div>
    </header>

    <div class="container_12" id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>