<ul class="grid_2 alpha">
    <li title="{{ spaceConsumed }}">Занято: {{ spaceConsumed|filesizeformat }}</li>
    <li title="{{ length }}">Размер: {{ length|filesizeformat }}</li>
</ul>

<ul class="grid_2 omega">
    <li>Папок: {{ directoryCount }}</li>
    <li>Файлов: {{ fileCount }}</li>
</ul>